<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Developer Journey</title>
</head>
<body>
    <header>
        <h1>My Journey Blog</h1>
        <p>This is my developer blog.</p>
    </header>
    <main>
        <section>
            <% blogs.forEach(function(blog) { %>
                <article>
                    <h2> <%= blog.title %></h2>
                    <p> <%= blog.post %></p>
                    <small> <%= blog.published.toLocateString() %></small>
                </article>
            <% }) %>
        </section>
    </main>

    
</body>
</html>